@import "styles/variables";
@import "styles/header";
@import "styles/container";
@import "styles/section";
@import "styles/footer";

html {
  body {
    font-family: "dosis", sans-serif;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100%;
    background-color: $white;

    .content {
      min-height: calc(100vh - 100px); /* Adjust footer height as needed */
      padding: 20px;
    }
  }
}
