@import "variables";
@import "mixins";

.container-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  // margin: 20px;

  @include tablet-and-above {
    flex-direction: row;
  }

  h1 {
    width: 90%;
    color: $primary-color;
    justify-content: center;
    text-align: center;
  }
  .container-img {
    width: 90%;
    border-radius: 40px;
    height: 280px;
    -o-object-fit: cover;
    object-fit: cover;
    justify-content: center;
    align-items: center;
  }
}
