@import "variables";
@import "mixins";

  #header-section {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    align-items: center;

    @include tablet-and-above {
      flex-direction: row;
      justify-content: space-between;
    }

    .header-item {
      .logo {
        width: 100px;
        height: 100px;
        margin: 10px;
        border-radius: 50px;
        cursor: pointer;
      }
      .nav-list {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        gap: 50px;
        padding: 0;
        margin: 0px;
        font-size: 20px;

        .nav-item {
          flex: 1;
          text-align: center;
          a {
            text-decoration: none;
            color: $primary-color;
          }
        }
      }
      .btn-group {
        display: flex;
        flex-direction: row;
        gap: 10px;
        border-radius: 5px;
        background-color: unset;
        color: $white;
        margin: 10px;

        @include tablet-and-above {
          flex-direction: column;
        }

        .btn-log,
        .btn-reg {
          border: none;
          padding: 10px;
          border-radius: 5px;
          font-weight: 600;
          cursor: pointer;
          background-color: $primary-color;
          color: $white;
        }
      }
    }
  }